@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.App {
    text-align: center;
}

header {
    padding: 0.8rem;
    background-color: #7fffd4;
    border-bottom: 5px solid #242424;
    /* padding: 1rem 2rem 4.5rem 2rem; */
}

body {
    background-color: #fff;
}

.appTitle {
    color: #ffffff;
    font-size: 5.7rem;
    margin: 0.7rem;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.AppSubtitle {
    color: #ffffff;
    font-size: 1.4rem;
    justify-content: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: 'Press Start 2P', cursive;
}

/*
=======================================================================
                  CSS styles for displayed data
=======================================================================
*/

.SearchBar {
    margin: auto;
    width: 80%;
    padding: 1.8rem;
    height: 2rem;
    font-size: 1.5rem;
    box-shadow: 0px 5px 25px rgba(129, 129, 129, 0.2);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 500px;
    border: 4.5px solid rgba(0, 0, 0, 0.3);
}

.SearchResult {
    margin: 2rem auto;
    column-count: 3;
}

img {
    flex-direction: row;
    border-radius: 5%;
    border: 0.0001px solid #242424;
}

.SourceStyle {
    /* background-color: aquamarine; */
    margin: 1rem 1rem;
    padding: 0rem 1rem;
    font-size: 1rem;
    text-decoration: none;
}

.SourceStyle a {
    text-decoration: none;
    color: #42a181;
}

ul,
li {
    list-style-type: none;
}

@media screen and (max-width: 600px) {
    .preloader {
        color: rgb(0, 0, 0);
        font-size: 4rem;
        margin: 0.7rem;
        font-family: 'Pacifico', cursive;
        justify-content: center;
    }
}
